// @import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

/* custom.scss */
$blue:       #0053CB;
$blue-100:   #dbeafe;
$blue-700:   #0F2C92;
$white:      #FFFFFF;
$green:      #39CA71;
$orange-900: rgba(124, 45, 18, 1);
$orange-800: #9A3412;
$orange-700: #C2410C;
$orange-600: #EA580C;
$orange-500: #f97316;
$orange-400: #FB923C;
$orange-200: #fed7aa;
$orange-100: #ffedd5;
$orange-50:  #fff7ed;
$yellow-200: #fde68a;
$yellow-100: #fef3c7;
$fushia-200: #f5d0fe;
$yellow:     #FDC02F;
$black:      #000000;

$gray-100:  rgba($black,.03);
$gray-700:  #495057;

$theme-colors: (
    primary: $blue,
    secondary: $gray-700,
    light: $white,
    dark: $orange-900,
    custom: rgba($orange-500, 1),
    custom-darkness: $orange-700,
    custom-dark: $orange-900,
    custom-dark-lightness: rgba(124, 45, 18, 0.2),
    custom-light: rgba(254, 243, 200, 1),
    );
    // $navbar-light-color:        rgba($light, .5) !default;
    // $navbar-light-hover-color:  rgba($light, .7) !default;
    // $navbar-light-active-color: rgba($light, .9) !default;

    $enable-responsive-font-sizes: true !default;

    // $link-hover-decoration: underline !default;

    /* _navbar.scss:198 */
$navbar-dark-active-color: $red !default;
$navbar-dark-color: $white !default;
$navbar-dark-hover-color: $dark !default;

    // Links
    // Style anchor elements.
    // $link-color:                   theme-color("light") !default;
    // $link-color:                   $white !default;
    // $link-decoration:              none !default;
    // $link-hover-color:             darken($link-color, 10%) !default;
    // $link-hover-decoration:        underline !default;
    // Darken percentage for links with `.text-*` class (e.g. `.text-success`)
    // $emphasized-link-hover-darken-percentage: 15% !default;
    
// Taille des espaces xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
$sizes: () !default;
$sizes: map-merge(
    (
        25: 25%,
        50: 50%,
        60: 60%, // ajout le 27-12-2020
        75: 75%,
        100: 100%,
        auto: auto
        ),
        $sizes
    );

//  SELECTION DES THEMES xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
$theme-colors: map-remove($theme-colors, "info", "success", "primary");

// Importation des modules
@import './node_modules/bootstrap/scss/reboot';
@import './node_modules/bootstrap/scss/buttons';
@import './node_modules/bootstrap/scss/carousel';
@import './node_modules/bootstrap/scss/custom-forms';
@import './node_modules/bootstrap/scss/dropdown';
@import './node_modules/bootstrap/scss/forms';
@import './node_modules/bootstrap/scss/grid';
@import './node_modules/bootstrap/scss/images';
@import './node_modules/bootstrap/scss/media';
@import './node_modules/bootstrap/scss/nav';
@import './node_modules/bootstrap/scss/navbar';
@import './node_modules/bootstrap/scss/spinners';
@import './node_modules/bootstrap/scss/transitions';
@import './node_modules/bootstrap/scss/type';
@import './node_modules/bootstrap/scss/utilities';
@import './node_modules/bootstrap/scss/vendor/rfs';

/* _navbar.scss:198 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
 .navbar-light {
     .navbar-nav{
       .nav-link {
         color: $orange-900;
         @include hover-focus {
           color: $orange-500;
        }
    }
       .show > .nav-link,
       .active > .nav-link,
       .nav-link.show,
       .nav-link.active {
         color: $orange-800;
    }
}
    .navbar-toggler {
      color: $navbar-light-color;
       border-color: $navbar-light-toggler-border-color;
}
   .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
}
}


//   // Links
//     // Style anchor elements.
//     // $link-color:                   theme-color("light") !default;
//     $link-color:                   $white !default;
//     $link-decoration:              none !default;
//     $link-hover-color:             darken($link-color, 10%) !default;
//     $link-hover-decoration:        underline !default;

//     $navbar-light-active-color: $red;
// $navbar-light-color: $light;
// $navbar-light-hover-color: $dark;
