@import './bootstrap';
@import './fontawesome/fontawesome';
@import './fontawesome/brands';
@import './fontawesome/solid';
@import './et-line';
 
// lightbox2 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
a[data-lightbox]
{
  position: relative;
  display: block;
  text-align: center;
    &:hover::before
    {
        font-family: 'Font Awesome 5 Free';
        font-size: 32px;
        font-weight: 900;
        line-height: 50px;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        content: '\f067';
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: $white;
        border-radius: 50%;
        background: rgba($orange, .8);
    }
    &:hover img
    {
        opacity: .6;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
    }
}

// Background Images xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

.no-webp .bg-lines
{
  background-image: url('../img/lines.png');
}
.webp .bg-lines
{
  background-image: url('../img/lines.webp');
}


.no-webp .bg-banniere
{
  background-image: url('../img/banniere-fd.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  position:relative;
  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/texture-paper.png');
    background-size: 280px 280px;
    opacity: 0.5
  }
}
.webp .bg-banniere
{
  background-image: url('../img/banniere-fd.webp');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  position:relative;
  &::before
  {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/texture-paper.webp');
    background-size: 280px 280px;
    opacity: 0.5
  }
}
.webp .bg-presentation
{
  background-image: url('../img/presentation-fd.webp');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  position :relative;
  &::before
    {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/texture-paper.webp');
      background-size: 280px 280px;
      opacity: 0.7
    }
  }
.no-webp .bg-presentation
{
  background-image: url('../img/presentation-fd.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
  position :relative;
  &::before
    {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../img/texture-paper.png');
      background-size: 280px 280px;
      opacity: 0.7
    }
  }






// Carte google  gmaps xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
#map
{
  width:400px;
  height:400px;
}

// Scroll to top xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 500;
  }

//Paralax xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

.parallax{
    background-attachment: fixed; 
}

// Opacity
.opacity-0 {
    opacity:0!important;
  }
  .opacity-1 {
    opacity:0.2!important;
  }
  .opacity-2 {
    opacity:0.4!important;
  }
  .opacity-3 {
    opacity:0.6!important;
  }
  .opacity-4 {
    opacity:.8!important;
  }
  .opacity-5 {
    opacity:1!important;
  }
  
  /* Maybe even support hover opacity shifts */
  .opacity-0h5 {
    opacity:0!important;
    transition: opacity .25s ease-in-out!important;
    -moz-transition: opacity .25s ease-in-out!important;
    -webkit-transition: opacity .25s ease-in-out!important;
  }
  .opacity-0h5:hover {
    opacity:1!important;
  }

//   @media (max-width: 576px) {
//     .no-webp .bg-banniere{
//         background-image: url('../img/banniere-fd-sm.jpg') !important;
//   }
//     .no-webp .bg-presentation{
//         background-image: url('../img/presentation-fd-sm.jpg') !important;
//   }
//     .webp .bg-banniere{
//         background-image: url('../img/banniere-fd-sm.webp') !important;
//   }
//     .webp .bg-presentation{
//         background-image: url('../img/presentation-fd-sm.webp') !important;
//   }
// }
  // @media (min-width: 577px) and (max-width: 960px) {
@media (max-width: 960px) {
  .no-webp .bg-banniere{
        background-image: url('../img/banniere-fd-lg.jpg') !important;
  }
  .no-webp .bg-presentation{
        background-image: url('../img/presentation-fd-lg.jpg') !important;
  }
  .webp .bg-banniere{
        background-image: url('../img/banniere-fd-lg.webp') !important;
  }
  .webp .bg-presentation{
        background-image: url('../img/presentation-fd-lg.webp') !important;
  }
}

@media (min-width: 961px) and (max-width: 1140px) {
  .no-webp .bg-banniere{
        background-image: url('../img/banniere-fd-xl.jpg') !important;
  }
  .no-webp .bg-presentation{
        background-image: url('../img/presentation-fd-xl.jpg') !important;
  }
  .webp .bg-banniere{
        background-image: url('../img/banniere-fd-xl.webp') !important;
  }
  .webp .bg-presentation{
        background-image: url('../img/presentation-fd-xl.webp') !important;
  }
}
